@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="coupon-box">
       

            <div class="col-md-8 col-xs-12 mb-1">
                <input name="discountcouponcode" id="discountcouponcode" type="text" class="sm-form-control" placeholder="Enter Voucher Code.." />

               
            </div>
            <div class="col-md-4 col-xs-12 mb-1">
                <input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
                       value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button button-3d button-black nomargin" />



              
            </div>
      
     

        <br/><br/><br /> 

      
        @foreach (var message in Model.Messages)
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @message
            </div>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                @*<input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />*@
                <button type="submit" name="removediscount-@discount.Id" value="" title="@T("Common.Remove")" class="remove-discount-button">cancel</button>
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#discountcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applydiscountcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}